#Drupal 7 .gitignore file
# Ignore configuration files that may contain sensitive information.
sites/default/settings*.php
sites/default/settings.php*


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


# Pitt EWI .gitignore settings
# Ignore Pitt Aspnet folders
*/aspnet_client


